body{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 8px;
    display: block;
    background-color: rgb(223, 217, 217);
}
img{
    margin-left: 400px;
    max-height: 250px;
    max-width: fit-content;
}header{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    margin-left: 50px;
   
}
main{
    font-family: Arial, Helvetica, sans-serif;
}
mainheading{
    color: crimson;
    background-color: slategrey;
    border: 1px black;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
div{
    padding: 10px 10px 10px 10px;
    border: 1px black;
    background-color: gray;
    border-style: solid;
    border-radius: 5px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}
#final{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
.funparagraph {
    color:green;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}